body {background-color: gold; margin: 0 auto; text-align: center; font-family: "Arial Black", Gadget, sans-serif; width: 100%; max-width: 1000px;
    display: grid; 
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
}

header {grid-area: header;}
main {grid-area: main;}
footer {grid-area: footer; }

header, main, footer {display: grid; grid-template-columns: 50% 50%;}

.logo {width: 100%;}



