#chinechism {width: 23%;}





body {
background-color: #FFE4E1;
background-image: url("icono.png"); background-size: 75%; background-position: 98% 0%; background-repeat: no-repeat;}


nav, a { font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  font-size: 50px; color: black;
  padding-left: 10px;
  text-decoration: none; cursor: default;}

#infor {font-family: Tahoma, Geneva, sans-serif;
 font-size: 20px;
position:fixed; left: 3%;
}


footer {
  position: fixed;
  font-size: 10px; bottom: 0; left: 76%;
  width: 100%;
}
