body {background-color: gold; margin: 0 auto; text-align: center; font-family: "Arial Black", Gadget, sans-serif; }
    main {width: 80%;
    display: grid; 
    grid-template-columns: 50% 50%;}

#chin {height:100px;}
#ana {height: 100px;}
