body {background-color: gold; margin: 0 auto; text-align: center; font-family: "Arial Black", Gadget, sans-serif;}
main {
display: grid;
grid-template-columns: 50% 50%;}

.logo {width: 100%;}

@media screen and (max-width: 600px) {
 main {grid-template-columns: 100%;
  }
}
